
<header>

    <% if (user) { %> 
            <p id="hidenid"><%= user.id %></p>
            <% } %>
    <section class="header">
       
              <img src="./img/logo_Spirboost.png" alt="Image 1" class="logo">
    
        <section class="boxtextheader"><% if (user) { %>
          <h3 class="nomutilisateur">Bienvenue, <%= user.first_name %> <%= user.last_name %>! </h3>
      <% } %>
         </section>
       
        
         <!-- Bouton burger -->
<div class="burger-menu">
<input type="checkbox" id="menu-toggle">
<label for="menu-toggle" class="burger-icon">
  <span></span>
  <span></span>
  <span></span>
</label>

<!-- Menu à afficher lors du clic -->
        <nav class="nav-menu">
   <ul class="nav-buttons">
    <li><a href="/accueil" id="accueil" class="btn">Accueil</a></li>
    <li><a href="/spirulineBio" id="spirulineBio" class="btn">Spiruline</a></li>
    <li><a href="/histoiredelaspiruline" id="histoiredelaspiruline" class="btn">Découverte</a></li>

    <li><a href="/contact" id="contact" class="btn">Contact</a></li>
    <% if (!user) { %>
      <li><a href="/register" class="btn">Nous rejoindre</a></li>
      <li><a href="/login" class="btn">Connection</a> </li>
      <% } else { %>
        <li><a href="/panier" id="panier" class="btn">Panier</a></li>
        <li><a href="/espaceClient" id="espaceClient" class="btn">Espace client</a></li>
    <li><a href="/logout" class="btn">Déconnexion</a></li>
            <% } %>
        </ul>
    </nav>
</div>
</section>

 
  </header>