<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

<link href="https://fonts.googleapis.com/css2?family=Nothing+You+Could+Do&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&family=Montserrat:wght@400;600&family=Lora:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="./css/spirulineBio.css">
    <link rel="stylesheet" href="./css/histoiredelaspiruline.css">
    <link rel="stylesheet" href="./navbar.css">

    <title>SpirulineBio</title>
  
</head>
<body>
  <div class="fade-in">
    <div class="fullscreen-image">
      <main>
      <%- include('header') %>
      <div class="slider-container">
        <div class="slider">
      
            <div class="slide">
                <h2>01. Origines et Découverte</h2>
                <p>
                    La spiruline est une cyanobactérie, souvent appelée "algue bleue-verte", qui est apparue sur Terre
                    il y a environ 3,5 milliards d'années. Elle tire son nom de sa forme hélicoïdale (spirale) et de
                    sa couleur distincte. Bien que microscopique, cette bactérie a joué un rôle crucial dans
                    l'évolution de la vie sur Terre en contribuant à la production d'oxygène à travers la
                    photosynthèse.
                </p>
            </div>
            <div class="slide">
                <h2>02. Les Premiers Utilisateurs</h2>
                <p>
                    La spiruline a été consommée par différentes civilisations bien avant qu'elle ne soit redécouverte
                    par les scientifiques modernes. Les Aztèques du Mexique récoltaient la spiruline dans le lac
                    Texcoco et la consommaient sous forme de gâteaux appelés "tecuitlatl".
                </p>
            </div>
            <div class="slide">
                <h2>03. La Redécouverte Scientifique</h2>
                <p>
                    La spiruline est restée relativement inconnue jusqu'au XXe siècle, où des chercheurs français ont
                    redécouvert ses propriétés uniques. En 1967, elle fut présentée comme superaliment lors d'une
                    conférence à Mexico.
                </p>
            </div>
            <div class="slide">
                <h2>04. L'Émergence en Tant que Superaliment</h2>
                <p>
                    Grâce à sa densité nutritionnelle, la spiruline a attiré l'attention de la NASA pour des
                    applications spatiales, marquant son adoption mondiale comme complément alimentaire.
                </p>
            </div>
            <div class="slide">
                <h2>05. Production et Consommation Modernes</h2>
                <p>
                    Cultivée aujourd'hui dans des fermes aquatiques, la spiruline est commercialisée sous différentes
                    formes : poudre, comprimés, smoothies, et bien d'autres.
                </p>
            </div>
            <div class="slide">
                <h2>06. Potentiel et Perspectives Futures</h2>
                <p>
                    La spiruline est explorée pour ses applications dans la santé publique et la lutte contre la
                    malnutrition, ainsi que dans les cosmétiques pour ses bienfaits sur la peau.
                </p>
            </div>
            <div class="slide">
                <h2>07. Conclusion</h2>
                <p>
                    De ses origines anciennes à son rôle moderne, la spiruline est un trésor biologique, offrant une
                    solution potentielle aux défis nutritionnels du futur.
                </p>
            </div>
        </div>
        <!-- Navigation Dots -->
        <div class="dots">
            <span class="dot"></span>
            <span class="dot"></span>
            <span class="dot"></span>
            <span class="dot"></span>
            <span class="dot"></span>
            <span class="dot"></span>
            <span class="dot"></span>
        </div>
    </div> 
    </main>
    </div>
  </div>
  <script src="scrypthistoirespiruline.js"></script>
</body>
</html>