.textehitoire{
    border-top: 2px solid #6d9e67;
    padding:  10% 10% 0 10%;
}
.textehitoire p{
    font-family: "Roboto Condensed", sans-serif;
    font-style: normal;
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 20px;
    color: #f39c12;
}
@media(max-width: 600px){

    
    .textehitoire{
        margin: 0 10% 0 10%;
        text-align: justify;
        width: 80%;
    
    }

   

}