
 body {
    font-family: Arial, sans-serif;
    background-color: #2D3D48; /* Couleur de fond */
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #f39c12; /* Couleur du texte */
}

/* Section du formulaire */
.boxe-login {
    background-color: #3E4E59;
    padding: 40px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    width: 50%;
    /*max-width: 400px;*/
    text-align: center;
}

/* Titre du formulaire */
.boxe-login h1 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #f39c12; /* Couleur du texte */
}

/* Champ de formulaire */
.boxe-login form div {
    margin-bottom: 20px;
    text-align: left;
}

/* Style des labels */
.boxe-login label {
    font-size: 14px;
    color: #f39c12; /* Couleur du texte */
    margin-bottom: 5px;
    display: block;
}

/* Champs de saisie */
.boxe-login input[type="email"],
.boxe-login input[type="password"] {
    width: 100%;
    padding: 10px 0 10px 0;
    text-align: center;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: border-color 0.3s ease;
    background-color: #2D3D48; /* Fond du champ */
    color: #f39c12; /* Couleur du texte */
}

/* Effet au focus */
.boxe-login input[type="email"]:focus,
.boxe-login input[type="password"]:focus {
    border-color: #f39c12;
    outline: none;
}

/* Style du bouton */
.boxe-login button {
    width: 100%;
    padding: 12px;
    background-color: #f39c12; /* Couleur du bouton */
    color: #2D3D48; /* Couleur du texte du bouton */
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/* Effet au survol du bouton */
.boxe-login button:hover {
    background-color: #d9820b;
}

/* Style responsive */
@media (max-width: 480px) {
    .boxe-login {
        padding: 20px;
    }

    .boxe-login h1 {
        font-size: 20px;
    }
}
